@import "tailwindcss";


:root {
  --main_black: #000000;
  --main_white: #ffffff;
  --secondary_charcoal: #2E2E2E;
 
}

@theme {
  --color-main_black: var(--main_black); 
  --color-main_white: var(--main_white);
  --color-secondary_charcoal: var(--secondary_charcoal);
  /* font */
  --font-sfpro: var(--sfpro);
}



